<style>
	.microblog_permalink {
		color: gray;
		font-style: italic;
	}
	
	.microblog_divider {
		color: gray;
	}

	{{ .CustomCSS }}
</style>

<div class="microblog_email">

	<p class="microblog_header">
	<img src="{{ .Site.Author.avatar }}" width="30" height="30" alt="Profile icon" style="border-radius: 15px; vertical-align: middle;">
	<b>{{ .Site.Title }}</b>
	— <a href="{{ .Footer.UnsubscribeURL }}">Unsubscribe</a>

	{{ if gt (len .Intro) 0 }}
		<p>
		<hr>

		<p>
		{{ .Intro }}
	{{ end }}

	<p>
	<hr>

	{{ range .Pages }}

		{{ if .Title }}
			<b>{{ .Title }}</b>
		{{ end }}

		<p>
		{{ .Content }}

		<p>
		{{ if gt (len .Params.audio) 0 }}
			<a href="{{ .Permalink }}">Audio</a>
		{{ end }}

		{{ if gt (len .Params.video) 0 }}
			<a href="{{ .Permalink }}">Video</a>
		{{ end }}

		<a href="{{ .Permalink }}" class="microblog_permalink">{{ .Date.Format "2006-01-02" }}</a>

		<hr>

	{{ end }}

	<div class="microblog_footer">

		<p>
		<a href="{{ .Footer.UnsubscribeURL }}">Unsubscribe</a> <span class="microblog_divider">|</span> 
		
		{{ if eq (len .Pages) 1 }}
			{{ with index .Pages 0 }}
				<a href="{{ .Permalink }}">View in browser</a> <span class="microblog_divider">|</span> 
			{{ end }}
		{{ end }}		
		
		<a href="{{ .Site.BaseURL }}">{{ .Site.Hostname }}</a>
		
		{{ if gt (len .Footer.MailingAddress) 0 }}
			<span class="microblog_divider">|</span> {{ .Footer.MailingAddress }}
		{{ end }}

	</div>

</div>
